.grillaQuienes{margin-top: 100px;}

.local1 {
    grid-area: local1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local2 {
    grid-area: local2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local1 img,
.local2 img {
    border-radius: 50%;
    border: #181D31 5px solid;
    width: 80%;
}

.textogen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    p{
        color: white;
        border-radius: 10px;
        background-color: $colormain;
        font-family: $miletraprincipal;
        padding: 10px;}
}
.textoLocal{ grid-area: textoLocal;
    @extend .textogen}
.textoquien { grid-area: textoquien;
    @extend .textogen
}



.titulo2 {
    grid-area: titulo2;
    @extend .tituGen
}

.foto-grupo {
    margin-top: 30px;
    margin-bottom: 30px;
    grid-area: foto-grupo;
    display: flex;
    justify-content: center;
}
.grupoEmpre{max-width: 280px;
display: flex;
align-items: center;}

